.centralBody{
  padding: 5%;
}
.col_cs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.row_c_wrap{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.borderImg{
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
}